@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Lobster&family=Poppins:wght@400&display=swap');
body{
    font-family: 'Lato', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif;
}
