@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Lobster&family=Poppins:wght@400&display=swap");
body {
  font-family: "Lato", sans-serif;
  font-family: "Lobster", cursive;
  font-family: "Poppins", sans-serif;
}
.hot{
    /* position: absolute; */
  /* left: 0px;
  top: 0px;
  z-index: 1; */



  
}
.hot-div{
    

}
.my-bg1 {
  background-color: #e91e63;
}
.my-bg2 {
  background-color: #4caf50;

}
.color1 {
  color: white;
}
.color2 {
  background-color: #4caf50;
  color: white;
}


.marquee {
    height: 40px;
    overflow: hidden;
    position: relative;
    background: #fefefe;
    color: #333;
    border: 1px solid #4a4a4a;
}

.marquee p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 40px;
    text-align: center; 
    transform: translateX(100%);
    animation: scroll-left 20s linear infinite;
}


@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}